
:root{
    --Color1: #095256; /*Deep Jungle Green*/
    --Color2: #087F8C; /*Metallic Seaweed*/
    --Color3: #5AAA95; /*Polished Pine*/
    --Color4: #86A873; /*Asparagus*/
    --Color5: #BB9F06; /*Lemon Curry*/
    --Color6: #D18804;
    --MainBorderWidth: 5px;
    --MainBorderRadius: 0vw;
    --MainMargin: 5vw;
    --MainWidth: 90vw;
}

html{
   height: screen;
   position: fixed;
   top: 0px;
   bottom: 0px;
   width: 100%;   

}

body{
    background: linear-gradient(0deg, var(--Color2) 0%,var(--Color3) 100%);
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*height:100%;*/
    
    }
#SurroundingBox{
    background-color: var(--Color1);
    width: var(--MainWidth);
    height: auto;
    min-height: 450px;
    margin-top: 2vh;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;

    box-shadow: 0px 0px 2vh var(--Color1) ;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: solid;
    border-color: var(--Color5);
    border-width: var(--MainBorderWidth);
    border-radius: 5px;

    position: fixed;
    top: 5vh;
    bottom: 5vh;
    left: auto;
    right: auto;    
}

#MainNavigation{
    height: auto;
    margin-top: 0vh;
    margin-bottom: 1vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#HeaderSection{
    
    font-family: 'Roboto Mono', monospace;
   
    width: 100%;
    height: auto;
}

#Title{
    font-family: 'Roboto Mono', monospace;

    text-align: left;
    font-size: 5.5vw;
    color: white;
    -webkit-text-stroke-width: 10%;
    -webkit-text-stroke-color: var(--Color2);
    
    margin: 0em;
    padding: 0.5em 0.25em 0.5em 5%;

    display: flex;
    align-items: center;
}

.HeaderUList{
    /*Troubleshooting*/
    /*
    border-style: solid;
    border-color: red;
    */

    list-style-type: none;
      

    padding-bottom: 0.5em;
    padding-left: 5%;
    padding-right: 0em;
    margin: 0px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    gap: 10vw;

    height: 15vh;

}

#HeaderList{
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-color: var(--Color5);
    border-radius: 5px;

    width: 15vw;

    min-width: 200px;
    max-width: 300px;

    height: 8vh;

    min-height: 50px;
    max-height: 75px;

    padding: 5px 0px 5px 0px;

    text-align: center;
    
    transition: 0.7s ease;

    /*Troubleshooting*/
    /*
    border-style: solid;
    border-color: red;
    */
}

#HeaderList:hover{
    color: var(--Color5);
}

.NavText{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 2vw;
    -webkit-text-stroke-width: 10%;
    -webkit-text-stroke-color: var(--Color2);
    text-decoration: none;
}

.NavText:hover{
    color: var(--Color5);
}

.hamburger{
    display: none;
    cursor: pointer;

}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

#container{
    width: 100%;
    height: 100%;

    padding-top: 2vh;
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /*Troubleshooting*/
    /*
    border-style: solid;
    border-color: purple;
    */

    gap: 5vw;
}

#img-container{
    /*troubleshooting*/
    /*
    background-color: black;
    border-style: solid;
    border-color: white;
    */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    min-width: 100px;
    min-height: 100px;

    max-width: 300px;
    max-height: 300px;
}
#logo-style{
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: contain;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 912px) {
    
    #MainNavigation{
        flex-direction: row;
        justify-content:space-around;

        

        max-width: 100%;

        padding: 0px 1vw 0px 3vw;
    }

    #SurroudingBox{
        border-width: 5px;
    }

    #HeaderSection{
        height: auto;
    }

    .HeaderUList{

        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0px;

        flex-direction: column;
        justify-content: flex-start;

        background-color: var(--Color1);
        border: solid;
        border-color: var(--Color5);
        

        width: 100%;
        height: 25vh;
        text-align: center;
        transition: 0.3s;

    
    }


    /* What happens to the navigation list items when the hamburger button is pressed*/
    .HeaderUList.active{
        position: fixed;
        left: 0px;

        width: 100%;

        box-shadow: 0px 0px 10px black;

    }
    #HeaderList{
        padding:0px;
        width: 20vw;
        height: auto;

        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 16px 0px;
    }

    .NavText{
        font-size: 5vw;
        
    }

    /* Hamburger icon */
    .hamburger{
        display: block;
        width: 5%;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /***********************************/


    #Title{
        font-size: 7vw;
        justify-content: center;

        padding-left: 0em;
        padding-right: 0em;
    }
    #container{
        flex-direction: column;   
        justify-content: space-around;
        align-items: center;    
    }
    #img-container{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        max-width: 190px;
        max-height: 190px;

    }
}

@media (max-width: 600px){
    #img-container{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        max-width: 125px;
        max-height: 125px;

    }
}

@media screen and (max-height: 600px){
    #MainNavigation{
        position: relative;
        left: -1vw;
    }
    #HeaderSection{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #HeaderUList{
        flex-direction: row;
        align-items: center;
    }
    #HeaderList{
        /*margin-right: 1em;*/
        width: 10vw;
    }
    #Title{
        align-items: center;
    }
}