:root{
    --navbar-height: 50px;

    --Color1: #095256; /*Deep Jungle Green*/
    --Color2: #087F8C; /*Metallic Seaweed*/
    --Color3: #5AAA95; /*Polished Pine*/
    --Color4: #86A873; /*Asparagus*/
    --Color5: #BB9F06; /*Lemon Curry*/
    --Color6: #D18804;
    --bodyText: 125%;
}

body{
    width: 100%;

    padding: 0px;
    margin: 0px;

    font-family: 'Roboto Mono', monospace;
}

#Header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    height: 50px;
    width: 100%;


    background-color: var(--Color5);

    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar{
    margin: 0px;
    padding: 0px;
    
    margin-right: 2vw;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 50px;
}



#h1-style{
    
    margin: 0px;
    padding: 0.5em 0.25em 0.5em 5%;

    display: flex;
    align-items: center;

    color: white;
   
}

.nav-menu{
    list-style-type: none;
      

    padding-bottom: 0.5em;
    padding-left: 5%;
    padding-right: 0em;
    margin: 0px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    height: 50px;
}
#nav-item{
    padding: 0px 20px;
    text-align: center;
    
    transition: 0.7s ease;
}
#nav-item:hover{
    color: var(--Color1);
}


.nav-link{
   color: white;
   text-decoration: none;
   font-size: 1.2em;
}
.nav-link:hover{
    color: var(--Color1);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*------------------------------------------*/



#Container{
    /*
    border-style: solid;
    border-color: blue;
*/

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: auto;

    /*background: linear-gradient(0deg, var(--Color2) 0%, var(--Color3) 100%);*/

    background: linear-gradient(0deg, var(--Color1) 0%, var(--Color1) 100%);
}

.contents{
    /*
    border-style: solid;
    border-color: purple;
*/

    margin-top: 10vh;
    margin-bottom: 1em;

    width: 100%;
}


#Introduction-style{
    margin-top: 10vh;
    margin-bottom: 10vh;

    font-size: 200%;
    color: white;
}

#h2-style{
    margin-top: 5%;
    margin-bottom: 3%;

    font-size: 2rem;
}

.p-style{
    padding: 0em 1.4em 0em 1.4em;
    margin: 0em 0em 0em 0em;

    text-indent: 12%;
    text-align:justify;

    font-size: var(--bodyText);
    
}

.content-img-style{
    object-fit: contain;
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

#Introduction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100vh;
    height: auto;

    
}

.Introduction-p-style{
    color: white;
}

#Introduction-img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 10px;

    margin-top: 8vh;
    margin-bottom: 1em;
}

#Introduction-img{
    /*
    border-style: solid;
    border-color: brown;
*/

    width: 25%;
    max-width: 400px;

    height: 25%;
    max-height: 400px;

    border-style: solid;
    border-color: var(--Color5);
    border-width: 5px;

    border-radius: 5px;
    
    background-color: var(--Color5);

    box-shadow: 0px 0px 2vw black;

}

.Introduction-img-style{
    object-fit: contain;
    height: 100%;
    width: 100%;  

    border-radius: 5px;
}

#Design{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-height: 100%;
}

#Design-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--Color4);
    height: 90%;
    max-height: 900px;
    min-height: 400px;

    width: 100%;

    padding-bottom: 2%;

    border-style: solid;
    border-color: var(--Color5);
    border-width: 5px;

}

#Design-img-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 10px;

    width: 30vw;
}


#Design-img{
    /*
    border-style: solid;
    border-color: brown;
*/
    border-style: solid;
    border-color: var(--Color5);
    border-width: 5px;
    border-radius: 5px;

    position: relative;
    left: -10px;

    background-color: var(--Color5);

    width:fit-content;
    max-width: 700px;
    min-width: 100px;

    height: fit-content;
    max-height: 700px;
    min-height: 100px;


    box-shadow: 0px 0px 2vw black;
}

.code-link{

    width: auto;
    max-width: 300px;

    padding: 10px 20px;
    margin: 10vh 0px;


    background-color: var(--Color5);

    border: 1px solid var(--Color5);
    border-radius: 5px;

    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

#Footer{
    /*
    border-style: solid;
    border-color: green;  
*/
    background: linear-gradient(180deg, var(--Color5) 0%, var(--Color6) 150%);

    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*gap: 10vw;*/
}

#h3-style{
    display: flex;
    align-items: center;
    
    height: 100%;

    font-size: 300%;
    text-align: center;

    color: white;
}

#social-media{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 10%;
}

.social-media-style{
    text-decoration: none;
    font-size: 1.8em;
    color: white;

}

@media screen and (max-width: 1900px){
    
    #Introduction-img-container{
        gap: 20px;
    }
    
    #Introduction-img{
        height: auto;
        display: flex;
    }
    
    #Design{
        flex-direction: column;
        gap: 20px;
        max-height: 100%;
    }

    #Design-content{
        border-left: none;
    }

    #Design-img-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        width: 90vw;
        gap: 20px;
    }
    
    #Design-img{
        height: auto;
        display: flex;

        position: unset;
    }

}




/*--------------mobile devices--------------*/
@media screen and (max-width: 480px){
    /*#Introduction-img-container{
        display: flex;
        flex-direction: column;
    }*/

    #Header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100vw;
    }

    /*-----------------navigation--------*/
    #navbar{
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        /*max-width: 100vw;*/
        gap: 0px;

        
        padding: 0;
        margin: 0px 7vw 0px 3vw;
        
    }

    #h1-style{
        margin: 0px;
        font-size: 1.4em;
    }

    .nav-menu{
        position: fixed;
        left: 100%; /*move completely to the right*/
        right: 0px; /*keep position at the right of the frame*/
        top: 0px; /*Keep position at the top*/
        gap: 0px;

        flex-direction: column; /*Organizes menu buttons to column*/
        justify-content: flex-start;

        background-color: var(--Color1);/*background*/

        border: solid; /*border*/
        border-color: var(--Color5);
        

        width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
        border: none;


        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active{
        background-color: var(--Color1);
        border: solid;
        border-color: var(--Color5);

        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;

        height: auto;
        width: calc(100vw - 6px);
        padding: 0px 0px 1em 0px;

        box-shadow: 0px 0px 10px black;

    }

    #nav-item{
        width: 0px;
        padding: 0px;
        margin: 0px;
    }

    .nav-menu.active #nav-item{
        display: flex;
        align-items: center;
        justify-content: center;

    
        border-style: solid;
        border-color: var(--Color5);
        border-radius: 5px;
    
        width: 15vw;
    
        min-width: 200px;
        max-width: 300px;
    
        height: auto;
    
        min-height: 45px;
        max-height: 50px;
    
        padding: 5px 0px 5px 0px;
        margin: 16px 0px;
      
        text-align: center;

    }

    .nav-link{
        font-size: 1.1em;      
    }

    /* Hamburger icon */
    .hamburger{
        display: block;
        width: auto;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /*----------------------------------------------*/


    /*-------------------Projects body--------------*/
    
    #Introduction-img{
        width: 80%;
        height: auto;

        max-width: 350px;
        max-height: 350px;

        min-width: 250px;
        min-height: 250px;

        display: flex;

    }

    #Design{
        flex-direction: column;
        gap: 20px;

        height: 100%;
    }

    #Design-content{
        max-height: 100%;
    }


    #Design-img{
        width: 80%;
        height: auto;

        max-width: 350px;
        max-height: 350px;

        min-width: 200px;
        min-height: 200px;

        display: flex;
    }

    #Program{
        flex-direction: column;
        gap: 20px;
        max-height: 100%;
    }

    #Program-content{
        max-height: 100%;
    }

    #Program-ol{
        max-width: 300px;
    }

    #Program-img-container{
        align-items: center;
    }

    #Program-img{
        width: 80%;
        height: auto;

        max-width: 350px;
        min-width: 200px;
        
        max-height: 278px;
        min-height: 175px;

        display: flex;
    }
    
    #Controls{
        flex-direction: column;
        gap: 20px;
        max-height: 100%;
    }

    #Controls-img{
        width: 80%;
        height: auto;

        max-width: 350px;
        max-height: 350px;

        min-width: 200px;
        min-height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Footer{
        gap: 0px;
    }

    #social-media{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        max-height: 300px;

        gap:30px;
    }
}