:root{
    --navbar-height: 50px;

    --Color1: #095256; /*Deep Jungle Green*/
    --Color2: #087F8C; /*Metallic Seaweed*/
    --Color3: #5AAA95; /*Polished Pine*/
    --Color4: #86A873; /*Asparagus*/
    --Color5: #BB9F06; /*Lemon Curry*/
    --Color6: #D18804;

}

body{
    /*background-image: linear-gradient(135deg, var(--Color3), var(--Color4) );*/
    /*background-color: var(--Color3);*/
    width: 100%;

    padding:0px;
    margin: 0px;

    font-family: 'Roboto Mono', monospace;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;

    /*
    border: solid;
    border-color: red;
    */

    background-color: var(--Color5);
}

#nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /*
    border: solid;
    border-color: blue;
    */

    width: 300px;
    height: var(--navbar-height);
    align-items: center;

    /*
    margin-right: 1vw;
    margin-left: 1vw;
    */
}

.button-format{
    /*
    border: solid;
    border-color: green;
    */

    width: 80px;

   text-align: center;
   text-decoration: none;
   font-size: 1.6em;
   font-style: bold;
   color: white;
}

.button-format:hover{
    animation-name: button-format-animation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 1.6);
}

@keyframes button-format-animation {
    50%{
        transform: scale(1.2);
        color: var(--Color1);  
    }
    100%{
        transform: scale(1);
        color: white;
    }
}

/*
.main-h1{
    margin-top: 0.2em;
    margin-bottom: 0.4em;

    font-size: 4em;
    color: var(--Color1);
    text-align: center;
}
.sub-h1{
    margin-top: 2em;
    margin-bottom: 2em;

    font-size: 2.6em;
    color: var(--Color2);
    text-align: center;
}
*/
/*
#welcome-section{
    background-image: linear-gradient(180deg, var(--Color4) 0%, 10%, var(--Color3) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: var(--navbar-height) 0em 0em 0em;

    height: 100vh;
    
}
*/
#projects{
   /* background-image: linear-gradient(180deg, var(--Color3) 0%, var(--Color2) 100%);*/
   background-image: linear-gradient(180deg, var(--Color1) 0%, var(--Color1) 200%);

    /*
    border: solid;
    border-color: purple;    
    */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#projects-grid{
    /*
    border: solid;
    border-color: orange;
    */

    width: 100%;
    height: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3vw;

    margin-right: 3vw;
    margin-left: 3vw;

    padding-bottom: 1.4em;

}

.project{
    /*
    border:solid;
    border-color: brown;
    */

    width: 25vw;
    min-width: 300px;

    height: 25vw;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    text-align: center;

    color: black;
    text-decoration: none;
    font-size: 1.4em;

    border-style: solid;
    border-color: var(--Color5);

    box-shadow: 0px 0px 2vw black;
}
#projects-heading{
    font-size: 5em;
    color: white;
    text-align: center;

    margin: 1em 0em 1em 0em;
}
.project-tile{
      /*
    border-style: solid;
    border-color: red;
    */
    margin: 0px;
    font-size: 1.2em;
    background-color: var(--Color5);
    border-style: solid;
    border-color: var(--Color5);
    /*opacity: 0.8;*/
    color: white;
}

.ribbon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.project-img{
   object-fit: cover;
   height: 100%;
   width: 100%; 
}

.show-all-button{
    background-color: var(--Color1);

    margin-top: 5em;
    margin-bottom: 3em;

    border: none;
    width: 8em;
    height: 4em;

    font-size: 1.4em;
    font-style: bold;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.show-all-button:hover{
    animation-name: show-all-animation;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 1.6);
}

@keyframes show-all-animation {
    50%{
        transform: scale(1.2);
   
    }
    100%{
        transform: scale(1);
      
    }
}

#footer{
    /*
    border: solid;
    border-color: red;
    */
    background-image: linear-gradient(180deg, var(--Color5) 0%, var(--Color6) 150% );


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*gap: 10vw;*/

    height: 100vh;

}

.main-h3{
    display: flex;
    align-items: flex-end;
    
    height: 100%;

    font-size: 300%;
    text-align: center;

    color: white;

    margin-bottom: 5%;
}

.sub-h3{
    margin-top: 0em;
    margin-bottom: 3em;

    font-size: 2.4em;
    color: white;
    text-align: center;
}

#social-media{
    /*
    border:solid;
    border-color: blue;
    */
    height: 100%;
    width: 100%;

    margin-bottom: 10%;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.social-media-buttons{
    text-decoration: none;
    font-size: 1.8em;
    color: white;
}
.social-media-buttons:hover{
    animation-name: social-media-animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 1.6);
    animation-iteration-count: infinite;
}

@keyframes social-media-animation {
    50%{
        transform: translateY(-8px);  
    }
    100%{
        transform: translateY(0px);
    }
}


@media screen and (max-width: 800px){

    #body{
        
        /*position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom:0px;
        */
        width: 100%;
    }
    #navbar{
        max-width:100%;
        justify-content: center;
    }

    #projects-grid{
        min-height: 800px;
        
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        gap: 20px;
    }

    #projects{
        font-size: 3vw;
        height: auto;
    }

    #projects-heading{
        margin-top: 1.4em;
    }

    .main-h3{
        margin-top: 0.8em;
        margin-bottom: 1.6em;
        font-size: 12vw;
    }
    
    #footer{
        gap: 0px;
    }
    #social-media{
        width: 100%;
        max-height: 300px;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 30px;

        
    }
}

